html {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

html, body {
  min-height: 100vh;
  max-width: 100vw;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  gap: 0;
}

body {
  font-family: serif;
}

main {
  padding: 1rem;
  margin-top: 100vh;
  background-color: var(--background-color-secondary);
  /*background: linear-gradient(180deg, var(--background-color-transparent) 4rem, var(--background-color-accent-transparent) 10rem, var(--background-color-accent) 22rem);*/
  min-height: 100vh;
  font-size-adjust: .8;
  color: var(--foreground-color-secondary);
  h1, h2, h3, h4, h5, h6, em, strong {
    color: var(--foreground-color-accent);
    line-height: 2em;
  }
  pointer-events: none;
  line-height: 2.5em;

  section {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    pointer-events: visible;

    h1, h2 {
      padding-bottom: .5rem;
      border-bottom: .2rem var(--foreground-color-accent) dotted;
    }

    h1 {
      margin-top: 5rem;
    }

    h2 {
      margin-top: 4rem;
      margin-left: 1rem;
    }
    p:after(h2) {
      margin-left: 2rem;
    }
    h3 {
      margin-top: 3rem;
      margin-left: 2rem;
    }
    p:after(h3) {
      margin-left: 3rem;
    }
    h4 {
      margin-top: 2rem;
      margin-left: 3rem;
    }
    p:after(h4) {
      margin-left: 4rem;
    }
    h5 {
      margin-top: 1rem;
      margin-left: 4rem;
    }
    p:after(h5) {
      margin-left: 5rem;
    }
    h6 {
      margin-left: 5rem;
    }
    p:after(h6) {
      margin-left: 6rem;
    }
    p {
      margin-left: 1rem;
      margin-bottom: 2ch;
      text-align: justify;
    }
    aside {
      padding: 1rem 2rem;
      margin: 2rem 1rem;
      border-radius: 1rem;
      background-color: var(--background-color-highlight);
      border: 1px dotted var(--foreground-color-secondary);

      p {
        margin-left: 0;
      }
    }
  }
}

.hide, #video, #image {
  display: none;
}

#video, #image {
  max-width: 100vw;
  max-height: 100vh;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

#canvas-wrapper {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
  vertical-align: middle;
  gap: 1rem;

  canvas#canvas {
    background: transparent;
    will-change: contents, opacity;
    opacity: 0;
    transition: opacity 5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  canvas#canvas.loaded {
    opacity: 1;
  }

  noscript, div {
    font-size: 150%;
    border: 1px solid var(--foreground-color-secondary);
    background-color: var(--background-color-accent-transparent);
    margin: 0 auto;
    padding: 1rem;
    max-width: 60vw;
    border-radius: 1rem;
  }

  form#media-buttons {
    will-change: opacity;
    border: 2px solid var(--foreground-color-secondary);
    border-radius: 1rem;
    background-color: var(--background-color-accent);
    margin: 0 auto;
    margin-bottom: 7rem;
    transition: opacity .5s ease-in-out;
    gap: 4px;
    padding: 0;
    display: flex;

    input {
      display: none;
    }

    label {
      background-color: var(--background-color-secondary);
      font-size: 2.5rem;
      content: none;
      padding: 0;
      margin: 0;
      width: 5rem;
      height: 5rem;
      border: none;
      display: flex;
      vertical-align: middle;
      text-align: center;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
    }

    label:first-of-type {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    label:last-of-type {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    label:hover {
      background-color: var(--background-color-highlight);
    }

    label:active {
      background-color: var(--background-color-active);
    }
  }
}

#banner {
  transition: opacity .5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 0 0 .25rem var(--background-color);
  max-width: 100vw;
  font-size: 200%;
  padding: 1rem;
  background-color: var(--background-color-accent);
  background: linear-gradient(180deg, var(--background-color-accent) 0%, var(--background-color-accent-transparent) calc(100% - 8rem), var(--background-color-transparent) 100%);
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  height: calc(3.5rem + 4rem + 2.2rem + 1rem);

  div, form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .5rem;
  }

  #title {
    flex-direction: row;
    text-shadow: 0 0 .5rem var(--background-color);
    gap: .5rem;

    h1 {
      margin: 0;
      line-height: 0.8;
    }

    #logo {
      h1:nth-of-type(1) {
        font-size: 3.5rem;
      }

      h1:nth-of-type(2) {
        font-size: 4rem;
      }

      h1:nth-of-type(3) {
        font-size: 2.2rem;
      }
    }

    a#info-link {
      line-height: 0.8;
      font-size: calc(3.5rem + 4rem + 2.2rem);
      text-decoration: none;
    }
  }

  #controls {
    gap: .5rem;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;

    div.control {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-grow: 1;
      height: calc(100% - 2rem);

      label {
        display: none;
        font-size: 75%;
        flex-grow: 0;
      }

      input[type="range"] {
        display: block;
        overflow: hidden;
        writing-mode: vertical-lr;
        rotate: 180deg;
        padding: 0;
        margin: 0;
        width: 2rem;
        box-sizing: border-box;
        height: 100%;
      }
    }
  }

  #fps {
    display: none;
    flex-grow: 1;
    color: var(--foreground-color-secondary);
    font-size: 1rem;
    align-self: end;
  }

  .show-fps {
    #fps {
      display: block;
    }
    #controls {
      div.control {
        height: calc(100% - 4rem);
      }
    }
  }
}

@media(max-width: 768px) {
  #banner {
    zoom: 0.75;
    max-width: calc(100vw + 25%);
  }

  form#media-buttons {
    zoom: 0.75;
    margin-bottom: 6rem;
  }
}
