/* Styles for print */

:root {
  --background-color: white;
  --foreground-color: black;
}

.hide-print {
  display: none !important;
}

body {
  font-size: 11pt;
}

main {
  margin-top: unset;

  section {
    column-width: min(100vw, 32ch);
  }
}

#demo {
  position: unset;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  height: 33vh;

  canvas#canvas {
    position: unset;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
  }

  border: 0.5rem solid var(--foreground-color-secondary);
}

nav#banner {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

.show-print {
  display: unset !important;
}

section#section-this-site-online {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: center;
}

aside#site-link {
  max-width: 30rem !important;

  h2::before {
    content: unset;
  }
}
